/* Colors */
$primary-color: #1A3940;
$secondary-color: #225459;
$third-color: #428C8C;

$orange-1: #F99300;
$nav-color: #AEF2EB;
$link-color: blue;
$dark-grey: #333447;
$dark-gray: #333447; // for the Americans