/* Variables */
@import "utilities/variables";
@import "simple-grid"; 


@mixin header-footer ($position, $top-bottom, $top-bottom-value, $left-right, $left-right-value, $background-color) {
    #{$top-bottom}: $top-bottom-value;
    #{$left-right}: $left-right-value;
    background-color: $background-color;
    position: $position;
    min-width: 100%;
    z-index: 999;
}

header {
    @include header-footer(fixed, top, 0, left, 0, white);
    box-shadow: 0 0 16px rgba($color: #000000, $alpha: 0.4);
    padding: 1rem 0;
    opacity: 0.8;

    img {
        max-height: 3rem;
    }

    h1 {
        color: $dark-gray;
        margin: 0;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 1px;
    }

    /* Navigation */
    #navigation {
        ul {
            @include list-reset; 

            li {
                display: inline-block;
                padding: 0 1rem;

                a {
                    color: $orange-1;
                }
            }
        } 
    } 
}   

.hero-banner {
    @include banner("/images/hero-image.jpg", 50%, $primary-color, 50%);
}

.second-hero-banner {
    @include banner("/images/hero-image-2.jpg", 50%, $secondary-color, 50%);
}

.third-hero-banner {
    @include banner("/images/hero-image-3.jpg", 50%, $third-color, 50%);
}

@mixin article {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $secondary-color;
}

#article-feed {

    main {
        article {
            @include article();

            h2 {
                margin-bottom: 0.5rem;
                + p {
                    font-weight: $font-weight-heavy;
                }
            }
        }
    }

    aside { 
        article {
            @include article();

            h4{
                margin-bottom: .25rem;
            }

            p{
                margin-top: 0;
                font-size: 0.8rem;
            }
        }
    }
}

footer {
    @include header-footer(relative, bottom, 0, left, 0, white)
}

/* Article */ 



@mixin button($border-radius, $background) {
    border-radius: $border-radius;
    background-color: $background;
    padding: 1rem 2rem;
    text-transform: uppercase;
}

.login-button {
    @include button(4rem, $secondary-color);
}

.logout-button {
    @include button(0rem, $primary-color);
    color: white;
    border: 2px solid black;
}

@media only screen and (min-width: 60em) {
    .container {
    width: 75%;
    max-width: 80rem;
    }
}     
