.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

@media only screen and (max-width: 600px) { 

    .mobile-text-left {
        text-align: left !important;
    }

    .mobile-text-right {
        text-align: right !important;
    }

    .mobile-text-center {
        text-align: center !important;
    }

}