// universal



html,
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  position: relative;
  height: 100%;
}

* {
  --swiper-theme-color: white;
  font-family: $font-family;
  color: $dark-grey;
  line-height: $font-height;
}